NEXT_PUBLIC_SUPABASE_URL=https://gqebdbfceekxsfjhslrh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdxZWJkYmZjZWVreHNmamhzbHJoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjg3NTYyMDIsImV4cCI6MjA0NDMzMjIwMn0.tFPUkDxkHfWWdw-JfwoycRc2cPMXiLD6cMSzGzP1vZo